.vscode

# Testing/
# Learning/
# Learning/Programs/leetcode/

Test*
*test*

note*
*.tmp

*.exe

# OOPS/DSA/Expression_fix/
OOPS/DSA/Linked_List/Test/
sorting2.h

#hide all templates
# Template/
Templates/

#Project_code
shop_management.cpp
shop_management_file.cpp

